<link rel='stylesheet' type='text/css' href='style\dizimo.css'>
<link rel='stylesheet' type='text/css' href='style\pesquisa.css'>

<div class="principal">
<class class="div-pesquisa">
              <input type="text" class="pesquisa-text" placeholder="Pesquisar Dizimista"/>
      </class>

      <div class="dizimista-div">

          <table class="table ">
              <thead class="thead-dark">
                  <tr>
                      <th scope="col"></th>
                      <th scope="col">ID</th>
                      <th scope="col">Nome</th>
                      <th scope="col">Endereço</th>
                      <th scope="col">Bairro</th>
                      <th scope="col">Telefone</th>
                  </tr>
              </thead>
              <tbody data-toggle="modal" data-target="#modal-dizimo">
                {{#each dizimista}}
                  <tr>
                      <td><radio class="radio"></radio></td>
                      <td>{{id}}</td>
                      <td>{{nome}}</td>
                      <td>{{logradouro}}</td>
                      <td>{{bairro}}</td>
                      <td>{{celular}}</td>
                  </tr>
                {{/each}}
              </tbody>
          </table>

      </div>
      <div class="dizimo-div">

      </div>

      </div>
      
      <!--Modal de Verifica dizimo-->

        <!-- Modal -->
        <div class="modal fade" id="modal-dizimo" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Dizimos registrados</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">

                <form method="post">
                  <input type="text" placeholder="Dia" required>
                  <input type="text" placeholder="Valor" required>
                  <button type="submit" class="btn btn-primary">Salvar</button>
                </form>
                <br>

                <table class="table">
                  <thead>
                    <tr>
                      <td>
                        Dia
                      </td>
                      <td>
                        Valor
                      </td>
                    </tr>
                    </thead>
                    <tbody>
                    {{#each dizimo}}
                      <tr>
                        <td>
                          {{dia}}
                        </td>
                        <td>
                          {{quantidade}}
                        </td>
                      </tr>
                    {{/each}}
                  </tbody>
                </table>

              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Fecha</button>
                <button type="button" class="btn btn-primary">Salvar</button>
              </div>
            </div>
          </div>
        </div>

        <!--Fim do modal de cadastro-->
       


  <!--Imports de scripts-->
  <script src="../js/dizimo-modal.js">
      exibecadastro();
  </script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</div>