<link rel="stylesheet" href="style/eventos/eventoSelect.css">

<Div class="flex-container" id="div-principal">
<div class="col-4" id="dados-evento">
<h6>{{evento.id}} - {{evento.nome}}</h6>
<hr>
<p>Data de Inicio: {{evento.dataEvento}}</p>
<p>Responsavel: {{evento.responsavel}}</p>
<p>Descrição: <h6>{{evento.descricao}}</h6></p>

</div>
</Div>
<footer><hr></footer>